<section class="ServicesSec" th:fragment="servicesPart">
    <h2>SERVICES</h2>
    <div class="servicesContainer">
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/settings-svgrepo-com.svg" alt="icon Settings SVG">
            <h3>Changement de pièce</h3>
        </div>

        <div class="categorieDeService" tabindex="0">
            <img src="../assets/application-svgrepo-com.svg" alt="icon application">
            <h3>Installation de programme</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/shield-alt-svgrepo-com.svg" alt="icon sheild">
            <h3>Optimisation system</h3>
        </div>
        <div class="categorieDeService" tabindex="0" >
            <img src="../assets/terminal-browser-svgrepo-com.svg" alt="icon terminal">
            <h3>Development de site web</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/shine-1-svgrepo-com.svg" alt="icon shine">
            <h3>Nettoyage system</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/message-square-lines-alt-svgrepo-com.svg" alt="icon message">
            <h3>Conseil</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/wrench-svgrepo-com.svg" alt="icon wrench">
            <h3>Réparation de matériel</h3>
        </div>
    </div>
    <div class="dialog">
        <p id="paragraph">paragraph</p>
        <h4>TARIFS INDICATIF DE MAIN D’OEUVRE</h4>
        <ul id="services">
        </ul>
        <div class="tagBox">
            <p>ce service peut être effectué :</p>
            <div class="tagContainer">
                <div class="tag">
                    <p>à domicile</p>
                </div>
                <div class="tag">
                    <p>en atelier</p>
                </div>
                <div class="tag">
                    <p>à distence</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ServicesSec" th:fragment="servicesPro">
    <h2>SERVICES</h2>
    <div class="servicesContainer">
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/wifi-svgrepo-com.svg" alt="icon Settings SVG">
            <h3>Changement de pièce</h3>
        </div>

        <div class="categorieDeService" tabindex="0">
            <img src="../assets/application-svgrepo-com.svg" alt="icon application">
            <h3>Installation de programme</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/shield-alt-svgrepo-com.svg" alt="icon sheild">
            <h3>suppression de virus</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/terminal-browser-svgrepo-com.svg" alt="icon terminal">
            <h3>Development de site web</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/shine-1-svgrepo-com.svg" alt="icon shine">
            <h3>Nettoyage system</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/message-square-lines-alt-svgrepo-com.svg" alt="icon message">
            <h3>Conseil</h3>
        </div>
        <div class="categorieDeService" tabindex="0">
            <img src="../assets/database-svgrepo-com.svg" alt="icon database">
            <h3>Réparation de matériel</h3>
        </div>
    </div>
    <div class="dialog">
        <p>paragraph</p>
        <h4>TARIFS INDICATIF DE MAIN D’OEUVRE</h4>
        <ul>
            <li>Diagnostic : 30€</li>
            <li>Installation de programme : 30€</li>
            <li>Nettoyage system : 30€</li>
        </ul>
        <div class="tagBox">
            <p>ce service peut être effectué :</p>
            <div class="tag">
                <p>à domicile</p>
            </div>
        </div>
    </div>
    <script>
        
    </script>
</section>